<!-- start custom footer snippets -->
<a href="/sitemap/">Sitemap</a>
<!-- Default Statcounter code for My Homepage https://li-zhouzi.github.io -->
<script type="text/javascript">
    var sc_project=12830957; 
    var sc_invisible=1; 
    var sc_security="bce0b09f"; 
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="Web Analytics Made Easy -
    Statcounter" href="https://statcounter.com/" target="_blank"><img
    class="statcounter" src="https://c.statcounter.com/12830957/0/bce0b09f/1/"
    alt="Web Analytics Made Easy - Statcounter"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
    <!-- End of Statcounter Code -->
<!-- end custom footer snippets -->
