---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if author.googlescholar %}
  You can also find my articles on <u><a href="{{https://scholar.google.com/citations?view_op=list_works&hl=en&user=66HGZ2cAAAAJ&gmla=AOv-ny-uSkxfMMhKwTF-AQgf1FlPvW-TzObFh_Zz4Itz4XvmDiO4LjG4Fxmt5xgT-n-h1TpQTlnjPbFkOkfuqLs_GofCcL2Qrfovw1JBN9wnsg}}">my Google Scholar profile</a>.</u>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %}
